body {
	background-color: #eee;
}

header {
	background-color: #0AC;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 3px;
}

header h1 {
	margin: 0;
}

li.active > a {
	background: #DDD !important;
}

li > a:hover {
	background: #ABC !important;
}

.row {
	margin: 3px 0;
	padding: 6px;
}

.offline {
	background-color: #ABC;
}

.online {
	background-color: #ACB;
}

.channel-status {
	text-align: center;
}